h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: orange;
}
    
.CompanysProjects-container {
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 0px;
    
  }
  
  .CompanysProjects-heading {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
  
  .CompanysProjects-item {
    margin-bottom: 20px;
  }
  
  .CompanysProjects-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .CompanysProjects-subtitle {
    font-size: 18px;
    margin-left: 20px;
  }
  